body {
    background-color:#FFFCF7
}
p {font-family: 'Poppins', sans-serif;}
p1 {font-family: 'poppins', sans-serif;
    font-weight:bold;
    font-size:20px;
}

h1{font-family: 'Poppins', sans-serif;}
h2{font-family: 'Poppins', sans-serif;}
h3{font-family: 'Poppins', sans-serif;
font-size:20px;}

.half-width{
    width:561px;
    margin:0;
    float: left;
}


.about-container{
    margin-top:60px;
    padding-left:555px;
    padding-bottom:200px;
}

.overlap-group2 {
    float: left;
}
.nav {
    background-color: #FFFCF7; 
    list-style-type: none;
    text-align: left;
    float:inline-start;
    margin-left: 132px;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    justify-content: space-around;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 0px;
    padding-left: 65px;
    padding-right: 65px;
  }
.rectangle-27 {
    height: 265px;
    left: 275px;
    object-fit: cover;
    position: absolute;
    top: 200px;
    width: 190px;
}

.rectangle-28 {
    height: 265px;
    left: 475px;
    position: absolute;
    top: 200px;
    width: 190px;
}

.img_0491 {
    height: 252px;
    left: 318px;
    object-fit: cover;
    position: absolute;
    top: 1445px;
    width: 252px;
}

.img_0492 {
    height: 252px;
    left: 584px;
    object-fit: cover;
    position: absolute;
    top: 1445px;
    width: 252px;
}

.img_0495 {
    height: 255px;
    left: 584px;
    object-fit: cover;
    position: absolute;
    top: 1738px;
    width: 252px;
}

.group-2 {
    cursor: pointer;
    height: 63px;
    left: -100px;
    right: 73px;
    position: relative;
    top: 28px;
    width: 42px;
}

.group-15 {
    height: 252px;
    left: 318px;
    position: absolute;
    top: 1738px;
    width: 252px;
}

.img_4095 {
    height: 252px;
    left: 584px;
    object-fit: cover;
    position: absolute;
    top: 1738px;
    width: 252px;
}

.rectangle-3 {
    height: 215px;
    left: 810px;
    position: absolute;
    top: 805px; 
    width: 128px;
}

.rectangle-4 {
    height: 215px;
    left: 952px;
    position: absolute;
    top: 805px; 
    width: 128px;
}

.rectangle-5 {
    height: 215px;
    left: 1100px;
    position: absolute;
    top: 805px; 
    width: 128px;
}



.frame-5 {
    left: 251px;
}

.projects {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.25 px;
    position: relative;
    width: fit-content;
}

.frame-6 {
    left: 440px;
}

.overlap-group1 {
    height: 1024px;
    position:relative;
    width: 1440px;
}


.overlap-group3 {
    height: 2215px;
    position: relative;
    width:1440px;
}

.address-1{
    font-family: 'poppins', sans-serif;
    font-size:14px;
    top: 1710px;
    position:absolute;
    left: 320px; 
}
.address-2{
    font-family: 'poppins', sans-serif;
    font-size:14px;
    top: 1710px;
    position:absolute;
    left: 590px; 
}

.address-3{
    font-family: 'poppins', sans-serif;
    font-size:14px;
    top: 2005px;
    position:absolute;
    left: 320px; 
}
.address-4{
    font-family: 'poppins', sans-serif;
    font-size:14px;
    top: 2005px;
    position:absolute;
    left: 590px; 
}

.logo-design {
    left: 1083px;
    letter-spacing:0; 
    line-height: 45px;
    position: absolute;
    top: 1571px;
    transform: rotate(-90deg);
    width: 1060px;
}

.skills {
    left: 317px;
    position: absolute;
    top: 670px; 
    width: 138px;
}

.tools-adobe-photosh {
    left: 317px;
    position: absolute;
    top: 750px; 
    width: 138px;
}

.user-centered-design {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    left:810px;
    letter-spacing:0;
    line-height:normal;
    position:absolute;
    top:1036px;
    width: 121px;
}

.taking-users-objects {
    left:810px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1076px;
    width:128px;
}
.wireframing {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    left:955px;
    letter-spacing:0;
    line-height: normal;
    position: absolute;
    top:1036px;
    width: 121px;
}
.excellent-about-focusing-on-the-flow{
    left:955px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1050px;
    width:128px;
}

.storyboarding {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    left:1100px;
    letter-spacing:0;
    line-height: normal;
    position: absolute;
    top:1036px;
    width: 121px;
}
.creating-a-visual-na{
    left:1100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1055px;
    width:128px;
}

.the-basis-of-the-log {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    left:849px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 1425px;
    width: 158px;
}

.footer-horizontal{
    margin-top:1320px;
}

.logo-design-horizontal {
    margin-top:700px;
}