body {
    background-color:#FFFCF7
}
p {font-family: 'Poppins', sans-serif;}
p1 {font-family: 'poppins', sans-serif;
    font-weight: bold;
    font-size:20px;
}

h1{font-family: 'Poppins', sans-serif;
font-size: 64px;
font-weight:normal;}
h2{font-family: 'Poppins', sans-serif;
font-size:40px;
font-weight:normal;}
h3{font-family: 'Poppins', sans-serif;
font-size:20px;}
h4{font-family: 'Poppins', sans-serif;
    font-size:16px;
    font-weight:normal;}


.vl {
    float: left;
    margin-top:-150px;
    margin-left: 132px;
    border-left: 1px solid black;
height: 2350px;}

.vl2 {
    float: left;
    margin-top:-2345px;
    margin-left: 1151px;
    border-left: 1px solid black;
height: 2350px;}

.vl3 {
    float: left;
    margin-top:-1634px;
    border-left: 1px solid black;
height: 748px;}


.half-width{
    border-top: .1px solid black;
    width:561px;
    float:inline-start;
    margin-top:105px;
    margin-left: 132px;
}


.about-container{
    margin-top:65px;
    padding-left:680px;
    padding-bottom:140px;
}

.overlap-group2 {
    float: left;
}
.nav {
    background-color: #FFFCF7; 
    list-style-type: none;
    text-align: left;
    float:inline-start;
    margin-left: 132px;
    padding: 0;
  }
  
  .nav li {
    display: inline-block;
    justify-content: space-around;
    font-size: 20px;
    padding-top: 40px;
    padding-bottom: 0px;
    padding-left: 65px;
    padding-right: 65px;
  }
.rectangle-27 {
    height: 265px;
    left: 275px;
    object-fit: cover;
    position: absolute;
    top: 200px;
    width: 190px;
}

.rectangle-28 {
    height: 265px;
    left: 475px;
    position: absolute;
    top: 200px;
    width: 190px;
}

.img_0491 {
    height: 252px;
    left: 275px;
    object-fit: cover;
    position: absolute;
    top: 1495px;
    width: 252px;
}

.img_0492 {
    height: 252px;
    left: 541px;
    object-fit: cover;
    position: absolute;
    top: 1495px;
    width: 252px;
}

.img_0495 {
    height: 255px;
    left: 541px;
    object-fit: cover;
    position: absolute;
    top: 1788px;
    width: 252px;
}

.group-2 {
    cursor: pointer;
    height: 63px;
    left: -90px;
    right: 80px;
    position: relative;
    top: 28px;
    width: 42px;
}

.group-15 {
    height: 252px;
    left: 275px;
    position: absolute;
    top: 1788px;
    width: 252px;
}

.img_4095 {
    height: 252px;
    left: 584px;
    object-fit: cover;
    position: absolute;
    top: 1738px;
    width: 252px;
}

.rectangle-3 {
    height: 215px;
    left: 810px;
    position: absolute;
    top: 805px; 
    width: 128px;
}

.rectangle-4 {
    height: 215px;
    left: 952px;
    position: absolute;
    top: 805px; 
    width: 128px;
}

.rectangle-5 {
    height: 215px;
    left: 1100px;
    position: absolute;
    top: 805px; 
    width: 128px;
}



.frame-5 {
    left: 251px;
}

.projects {
    letter-spacing: 0;
    line-height: normal;
    margin-top: -1.25 px;
    position: relative;
    width: fit-content;
}

.frame-6 {
    left: 440px;
}

.overlap-group1 {
    height: 1024px;
    position:relative;
    width: 1440px;
}


.overlap-group3 {
    height: 2215px;
    position: relative;
    width:1440px;
}

.address-1{
    font-family: 'poppins', sans-serif;
    font-size:14px;
    top: 1760px;
    position:absolute;
    left: 280px; 
}
.address-2{
    font-family: 'poppins', sans-serif;
    font-size:14px;
    top: 1760px;
    position:absolute;
    left: 545px; 
}

.address-3{
    font-family: 'poppins', sans-serif;
    font-size:14px;
    top: 2055px;
    position:absolute;
    left: 280px; 
}
.address-4{
    font-family: 'poppins', sans-serif;
    font-size:14px;
    top: 2055px;
    position:absolute;
    left: 545px; 
}

.logo-design {
    font-family: 'poppins', sans-serif;
    font-weight:bold;
    font-size:20px;
    left: 683px;
    letter-spacing:0; 
    line-height: 45px;
    position: absolute;
    top: 1175px;
    transform: rotate(-90deg);
    width: 1060px;
}

.skills {
    left: 275px;
    position: absolute;
    top: 675px; 
    width: 138px;
}

.tools-adobe-photosh {
    left: 275px;
    position: absolute;
    top: 805px; 
    width: 138px;
}

.user-centered-design {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    left:810px;
    letter-spacing:0;
    line-height:normal;
    position:absolute;
    top:1036px;
    width: 121px;
}

.taking-users-objects {
    left:810px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1076px;
    width:128px;
}
.wireframing {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    left:955px;
    letter-spacing:0;
    line-height: normal;
    position: absolute;
    top:1036px;
    width: 121px;
}
.excellent-about-focusing-on-the-flow{
    left:955px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1050px;
    width:128px;
}

.storyboarding {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: bold;
    left:1100px;
    letter-spacing:0;
    line-height: normal;
    position: absolute;
    top:1036px;
    width: 121px;
}
.creating-a-visual-na{
    left:1100px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1055px;
    width:128px;
}

.the-basis-of-the-log {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: bold;
    left:810px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 1475px;
    width: 158px;
}
.nav-horizontal{
    border-top: .1px solid black;
}

.footer-horizontal{ 
    width: 1150px;
    border-top: .1px solid black;
    float:inline-start;
    margin-left: 132px;
    margin-top:750px;
}

.logo-design-horizontal {
    width: 1150px;
    border-top: .1px solid black;
    float:inline-start;
    margin-left: 132px;
    margin-top: 640px;
}
.skills-horizontal {
    width: 1150px;
    border-top: .1px solid black;
    float:inline-start;
    margin-left: 132px;
}


.i-have-a-background {
    margin-top: -50px;
    margin-bottom: 60px;
}

.linkedin {
    padding-left: 573px;
    padding-top: 50px;
    width:100px;
    position:absolute;
}

.behance {
    padding-left: 710px;
    padding-top: 50px;
    width: 102px;
}